html {background-image: linear-gradient(green, purple, green)}
.wrapper {
    margin: 5px;
}

.header {
    font-family: Arial, 'Helvetica', sans-serif;
    text-align: center;
}

h1 {
    background-color: white;
    margin: 66px 320px;
    border: double 2px black;
    background-image: url("./assets/brownROSE.png")
}

.header img {
    border: 10px inset black;
    width: 300px;
    height: 300px;
}

#kek {
    font-family: 'pacifico', cursive;
}
.timeline {
    background-color: lightblue;
    border: 5px double black;
}
.socials {
    border: 5px dotted crimson;
    background-color: silver;
}